asgiref
certifi
cffi
charset-normalizer
cryptography
defusedxml
Django
django-rest
idna
oauthlib
psycopg2
psycopg2-binary
pycparser
PyJWT
python-dotenv
python3-openid
requests
requests-oauthlib
six
social-auth-app-django
social-auth-core
sqlparse
tzdata
urllib3
